<a href="https://colab.research.google.com/github/DavideDipace/python/blob/main/DIPACE_DAVIDE_Esercizi_Python_base_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrivere al di sotto di ogni esercizio il codice richiesto. Al termine, consegnare su classroom il notebook realizzato.

0. assegnare alle variabili x, y e z i valori 10, 20 e 30 in un'unica istruzione. Assegnare alle variabili a, b e c il valore 100 sempre in un'unica istruzione

In [1]:
x,y,z = 10,20,30 
a=b=c=100
print(a,b,c,x,y,z)

100 100 100 10 20 30

1. far inserire all'utente due numeri interi, scambiarli e visualizzarli

In [2]:
a=int(input("inserisci un numero intero 1: "))
b=int(input("inserisci un numero intero 2: "))
print("I valori inseriti sono:", a, " e : ", b)
print("Adesso scambio i valori")
a,b=b,a
print("I valori scambiati sono a:", a, " e b: ", b)

inserisci un numero intero 1: 10
inserisci un numero intero 2: 20
I valori inseriti sono: 10  e :  20
Adesso scambio i valori
I valori scambiati sono a: 20  e b:  10

2. far inserire all'utente due numeri e calcolare l' elevamento a potenza del primo per il secondo. Provare poi a vedere qualk è l amasisma potenza del 2 che Python riece a calcolare: lo smartphone è altrettanto potente?

In [ ]:
a=int(input("inserire la base della potenza :"))
b=int(input("inserire l' esponente della potenza:"))
pow(a,b)

3. far inserire all'utente tre numeri e visualizzare il massimo dei tre

In [ ]:
a=int(input("inserire un numero :"))   
b=int(input("inserire un numero :"))
c=int(input("inserire un numero :"))

numeroMax=max(a,b,c)
print(numeroMax)

4. dati tre numeri, dire se con quei tre numeri possiamo costruire un triangolo

In [ ]:
lato1=int(input("inserire il primo lato :"))
lato2=int(input("inserire il primo lato :"))
lato3=int(input("inserire il primo lato :"))

if (lato1+lato2>lato3) and (lato1+lato3>)

5. far inserire dall'utente le misure di due cateti di un triangolo rettangolo (valori reali) e calcolare l'area del rettangolo e l'ipotenusa

In [ ]:
cateto1 = float(input("Inserisci il valore del primo cateto:"))
cateto2 = float(input("Inserisci il valore del secondo cateto:"))
from math import sqrt
ipotenusa = sqrt( cateto1**2 + cateto2**2 )
print("Ipotenusa =", ipotenusa)
area=(cateto1*cateto2)/2
print("area =",area)

6. far inserire un numero intero dall'utente e dire se è pari o dispari

In [ ]:
numero=int(input("inserire un numero :"))

if numero % 2 == 0:
    print("pari")
if numero % 2 == 1:
    print("dispari")

7. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

In [ ]:
gradiC=int(input("inserire i gradi :"))
Coefficiente = 9.0 / 5.0
gradiF = gradiC * Coefficiente + 32
print("temperatura in gradi Fahrenheit è", gradiF)

inserire un numero :32
temperatura in gradi Fahrenheit è 89.6

8. far inserire all'utente il valore di una temperatura in gradi fahrenheit e convertirlo in gradi centigradi

In [ ]:
GradiF=float(input("inserire i gradi :"))
C = 9.0/5.0
GradiC = GradiF / C - 32
print("temperatura in gradi celsius è", GradiC)

9. far inserire all'utente una velocità in Km/h e visualizzare la stessa velocità in metri al secondo

10. far inserire all'utente il raggio di un cerchio e visualizzarne il diametro e l'area

In [ ]:

raggio = int(input("inserire il raggio :"))
diametro = raggio * 2 
area = 3.14 * raggio * raggio
print("diametro :", diametro "area :", area)

11. far inserire all'utente il suo nome e poi il suo cognome e visualizzare il suo cognome e il suo nome separati da uno spazio

In [11]:

nome = str(input("inserire il nome :"))
cognome = str(input("inserire il cognome :"))

print(nome, cognome)

inserire il nome :davide
inserire il cognome :dipace
davide dipace

12. far inserire all'utente un numero e visualizzare il suo valore assoluto

In [ ]:
num= int(input("inserire un numero :"))
modulo=abs(num)
print(modulo)

13. far inserire all'utente un voto e controllare che sia compreso tra 1 e 10, estremi inclusi, Se è compreso visualizzare la stringa 'OK' altrimenti visualizzare la stringa 'KO'

14. far inserire all'utente due numeri e dire se uno è multiplo dell'altro. Ad esempio se l'utente inserisse i valori 60 e 15 il programma dovrebbe visualizzare la stringa '60 è un multiplo di 15'. Stessa cosa se l'utente inserisse prima il 15 e poi il 60., Se non sono multipli, visualizzare un messaggio appropriato

In [ ]:
n1=int(input("inserire un numero :"))
n2=int(input("inserire un numero :"))
if n1 % n2 == 0:
  print(n1, "è un multiplo di", n2 )
elif n2 % n1 == 0: 
  print(n2, "è un multiplo di", n1)
else: 
  print("non sono multipli")

15. far inserire all'utente la durata di un periodi di tempo in ore, minuti e secondi e convertirlo in secondi

In [16]:
ore = int(input("inserire ore :"))
minuti = int(input("inserire minuti :"))
secondi = int(input("inserire secondi :"))
seconditot = int(ore) * 3600 + int(minuti) * 60 + int(secondi)
print(seconditot)

inserire ore :1
inserire minuti :20
inserire secondi :0
4800

16. far inserire all'utente la durata di un periodo in secondi e convertirlo in ore, minuti e secondi

In [19]:
inputsecondi = int(input("inserire i secondi :"))
ore = inputsecondi //3600
secondiavanzati = inputsecondi % 3600
minuti = secondiavanzati // 60
secondiavanzati = secondiavanzati % 60  
print(ore)
print(minuti)
print(secondiavanzati)

inserire i secondi :3800
1
3
20