<a href="https://colab.research.google.com/github/DavideDipace/python/blob/main/LISTE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

liste

In [ ]:
a = []

In [ ]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
type (b)

list

In [ ]:
lista=[12,"pippo" ,37.92, "pluto",["qui",[8,12,24], "qua"],58] 
print(lista[4][0])

qui

In [ ]:
lista1 = [1,2,3,4,5,6,7,8,9,10]
print(lista1[-1]) #trova l'ultimo elemento della lista

10

In [ ]:
#visualizzazione degli elementi da 3 a 6
num = [0,1,2,3,4,5,6,7,8,9]
print(num[3:7])
#visualizzazione degli ultimi 5 elementi
print(num[5:])
#visuallizazione dei primi 5 elementi
print(num[:5])
#visualizzazione del penultimo e terzultimo numero 
print(num[-3:-1])
#visualizzazione dei numeri di 2 in 2 
print(num[3:9:2])
#visualizzazione dei numeri dall'inizio alla fine a tre a tre 
print(num[::3])

[3, 4, 5, 6]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
[7, 8]
[3, 5, 7]
[0, 3, 6, 9]

In [ ]:
#controlla se un numero è presente nella variabie o no 
19 in num

False

In [ ]:
stringa = "la mamma è bella"
print(stringa)
lista = list(stringa)
print(lista)

la mamma è bella
['l', 'a', ' ', 'm', 'a', 'm', 'm', 'a', ' ', 'è', ' ', 'b', 'e', 'l', 'l', 'a']

In [ ]:
#aggiungere un numero alla lista
lst = [1,2,3]
lst.append(12)
print(lst)
lst.append([10,19])
print(lst)
#estendo la lista con dei numeri
lst.extend([10,19])
print(lst)

[1, 2, 3, 12]
[1, 2, 3, 12, [10, 19]]
[1, 2, 3, 12, [10, 19], 10, 19]

caricare in una lista i numeri 8 17 -5 4 76 9 2

In [ ]:
lista2 = [8, 17, -5, 4, 76, 9, 2]
print(lista2)
#visualizzazione primo elemento
print(lista2[0])
#visualizzare l'ultimo elemento 
print(lista2[-1])
print(lista2[len(lista2)- 1 ])

[8, 17, -5, 4, 76, 9, 2]
8
2
2

In [ ]:
#aggiungere valori 7 8 4 9 alla lista
lista2.extend([7,8,4,9])
print(lista2)

[-5, 2, 4, 4, 7, 8, 17, 76, 7, 8, 4, 9, 7, 8, 4, 9, 7, 8, 4, 9]

In [ ]:
#ordinare la lista in ordine crescente 
lista2.sort()
print(lista2)
#rimuovere un numero dalla lista 
print(lista2)
lista2 = list(filter((1).__, lista2))
print(lista2)

[-5, 2, 4, 4, 7, 8, 9, 17, 76]
[-5, 2, 4, 4, 7, 8, 17, 76]
[-5, 2, 4, 4, 7, 8, 17, 76]

In [ ]:
#contare il numero di volte che compare il 9 
lista2.count(9)

3

In [ ]:
print(lista2)
#cercare l'indice del numero 8 
lista2.index(8)

[-5, 2, 4, 4, 7, 8, 17, 76, 7, 8, 4, 9, 7, 8, 4, 9, 7, 8, 4, 9]

5

In [ ]:
#inserire il valore 0 prima del numero 17
lista2.insert((17),0)
print(lista2)

[-5, 2, 4, 4, 7, 8, 17, 76, 7, 8, 4, 9, 7, 8, 4, 9, 7, 0, 8, 0, 0, 4, 9]

In [ ]:
#inserire il valore 0 prima del numero 17 
lista2.insert(lista2.index(17)+1,0)
print(lista2)

[-5, 2, 4, 4, 7, 8, 17, 0, 0, 76, 7, 8, 4, 9, 7, 8, 4, 9, 7, 0, 8, 0, 0, 4, 9]

9

In [ ]:
lista2.pop(5)
print(lista2)

[-5, 2, 4, 4, 7, 0, 0, 76, 7, 8, 4, 9, 7, 8, 4, 9, 7, 0, 8, 0, 0, 4]

In [ ]:
del lista2[1]
print(lista2)

In [ ]:
lista2.reverse()
print(lista2)

In [22]:
b = [5,7,9,2]
c = b
print(c)
print(b)

[5, 7, 9, 2]
[5, 7, 9, 2]

In [23]:
b.pop()
print(b)
print(c)

[5, 7, 9]
[5, 7, 9]

1.   inizzializzare una lista con i seguenti numeri 8,18,27,-8,51,40,-9-76
2.   aggiungere infondo alla lista i valori 7,4,95
3. aggiungere all'inizio della lista i valori 7,4,95
4. visualizzare il numero di elementi della lista
5. aggiungere in quarta posizione il valore 100 
6. eliminare il terzultimo elemento della lista 
7. visualizzare il valore massimo e minimo della lista 
8. calcolare la somma degli elementi della lista 
9. calcolare la media degli elementi dalla lista 
10. rimuovere dalla lista il numero 7 
11. ordinare la lista in ordine decrescente 
12. eliminare dalla lista il numero più alto e il numero più basso 
13. visualizzare gli elementi di posto pari 
14. visualizzre elementi di posto dispari 
15. visualizzare i primi 5 elementi 
16. visualizzare gli ultimi 5 elementi 
17. visualizzare i 5 elementi centrali
18. rimuovere i duplicati presenti nella lista

In [3]:
#1
d = [8,18,27,-8,51,40,-9-76]
print(d)

[8, 18, 27, -8, 51, 40, -85]

In [ ]:
#2
d.extend([7,4,95])
print(d)

In [ ]:
#3 
d.insert(7,4,95)
print(d)

In [ ]:
#4
d.count
print(d)

In [ ]:
#5
d.insert(3,100)
print(d)

[8, 18, 27, 100, -8, 51, 40, -85]

In [9]:
#6
d.pop(-3)

print(d)

[51, 40, 27, 18, -8, -85]

In [15]:
#7
valore_min = min(d)
valore_max = max(d)

print(valore_min,valore_max)

-85 51

In [14]:
#8
somma_lista = sum(d)

print(somma_lista)

43

In [17]:
#9
from numpy import mean
calcolo_media = mean(d)

print(calcolo_media)

7.166666666666667

In [ ]:
#10
d = list(filter((7).__ne__, d))
print(d)

In [8]:
#11 
d.sort(reverse = True)

print(d)

[51, 40, 27, 18, 8, -8, -85]

In [ ]:
#12 
valore_min.remove()
valore_max.remove()

print(d)

In [30]:
#13 
print(d[1::2])

[40, 18, -85]

In [31]:
#14
print(d[::2])

[51, 27, -8]

In [37]:
#15
print(d[:5])

[51, 40, 27, 18, -8]

In [38]:
#16
print(d[5:])

[-85, 7, 4, 95, 7, 4, 95, 7, 4, 95]

In [ ]:
#17

In [ ]:
#18