<a href="https://colab.research.google.com/github/DavideDipace/python/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

spiegazione tuple

LE STRUTTURE **TUPLE** SONO DEI CONTENITORI COME LA LISTA MA NON VARIABILE UNA VOLTA MESSO IL CONTENUTO NON SI PUò CAMBIARE
TUPLA1 = (CONTENUTO)
LE VARIABILI VENGONO SEPARATE TRAMITE UNA VIRGOLA
GLI ELEMENTI SONO ORDINATI E NON SI POSSONO MODIFICARE LE INFORMAZIONI AL SUO INTERNO ESEMPIO NON SI POSSONO AGGIUNGERE O TOGLIERE DEI DATI.
PER INSERIRE UN ELEMENTO SERVE UNA VIRGOLA ALLA FINE DELLA FRASE ALL'INTERNO DELLA LISTA.
ESEMPIO:
TUPLA2 = ("TESTO",)
può tenere qualsiasi tipo di dato
si può usare anche la funzione tuple per trasformare la lista in una tuple

In [ ]:
tupla1 = ("testo",)
print(type(tupla1))

testo

In [ ]:
prova=tuple(["ciao",12])
print(type(prova))

<class 'tuple'>

se creo una lista normale e converto in tupla e volessi aggiungere un elemento nella lista normale non modificata in tupla questa non cambia
non può avere la list comprenshion
nella random.sample mettiamo prima i numeri che ci servono eempio numeri da 1 a 100 e poi quanti numeri ci servono in questo caso 20

In [ ]:
import random
lista0 = tuple(random.sample(range(1,100),20))
print(lista0)
print(type(lista0))

(98, 46, 47, 70, 40, 80, 94, 96, 28, 31, 30, 91, 12, 69, 42, 2, 51, 67, 27, 97)
<class 'tuple'>

aggiungi i primi 3 cognomi del registro in posizione 1 al precendente vettore

In [ ]:
#non si può fare
tupla0 = list(lista0)
tupla0[0:0] = ['avasiloae','bernasconi','cottone']
print(tupla0)
tupla0 = tuple(tupla0)
print(type(tupla0))

['avasiloae', 'bernasconi', 'cottone', 98, 46, 47, 70, 40, 80, 94, 96, 28, 31, 30, 91, 12, 69, 42, 2, 51, 67, 27, 97]
<class 'tuple'>