<a href="https://colab.research.google.com/github/DavideDipace/python/blob/main/verifica_sommativa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)caricare in strutture dati opportune i valori della temperatura e delle probabilità di precipitazione del 6 ottobre nel corso della gionata

In [ ]:
h = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
T = 11,11,10,9,11,12,12,12,13,14,15,17,19,21,24,24,24,22,20,18,16,14,12,11
P = 90,90,90,70,70,30,30,10,10,0,0,0,0,0,0,0,0,0,0,5,10,15,20,25
print(h)
print(T)
print(P)

2)visualizzare la temperatura e la probabilità di precipitazione alle ore 18

In [ ]:
print(h[17])
print(T[17])
print(P[17])

18
22
0

3) visualizzare la temperatura e le probabilità di precipitazione dalle 10 alle 18 (estremi compresi)

In [ ]:
print(h[9:18])
print(T[9:18])
print(P[9:18])

(10, 11, 12, 13, 14, 15, 16, 17, 18)
(14, 15, 17, 19, 21, 24, 24, 24, 22)
(0, 0, 0, 0, 0, 0, 0, 0, 0)

4) visualizzare la temperatura e la probabilità di precipitazione dalle ore 12 a fine gionata

In [ ]:
print(h[11:])
print(T[11:])
print(P[11:])

(12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24)
(17, 19, 21, 24, 24, 24, 22, 20, 18, 16, 14, 12, 11)
(0, 0, 0, 0, 0, 0, 0, 0, 5, 10, 15, 20, 25)

5) visualizzare la temperatura e la probabilità di precipitazione dall' inizio della giornata fino alle 14 compresa

In [ ]:
print(h[:14])
print(T[:14])
print(P[:14])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)
(11, 11, 10, 9, 11, 12, 12, 12, 13, 14, 15, 17, 19, 21)
(90, 90, 90, 70, 70, 30, 30, 10, 10, 0, 0, 0, 0, 0)

6) visualizzare la temperatura ogni 2 ore a partire dalle 4 del mattino

In [ ]:
print(h[3::2])
print(T[3::2])
print(P[3::2])

(4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24)
(9, 12, 12, 14, 17, 21, 24, 22, 18, 14, 11)
(70, 30, 10, 0, 0, 0, 0, 0, 5, 15, 25)

7) visualizzare il valore di temperatura più alta della giornata

In [ ]:
max_temperatura = max(T)
print(max_temperatura)

24

8) visualizzare le probabilità di precipitazione media della giornata

In [ ]:
from numpy import mean
media_giornata = mean(P)
print(media_giornata)

9) visualizzare le ore in cui è rilavata la temperatura più alta

10) modificare il dato relativa alla temperatura delle ore 16 : non era 24 °C ma 25 °C

11) visualizzare temperatura e precipitazioni a partire dalle 24 all'1

AttributeError: ignored